In [17]:
import pandas as pd

In [18]:
df = pd.read_excel('DSS Model Dataset.xlsx')
df.shape

(1484, 7)

In [19]:
df.columns.str.strip()
# Removed the blank spaces if present removed

Index(['University name', 'GRE', 'Tuition Fee (per semester)',
       'Student Faculty Ratio', 'Cost of Living',
       'Job Placement / Alumini Success', 'Branch'],
      dtype='object')

In [20]:
df.columns = df.columns.str.lower()
# Converted the column names to lower case

In [21]:
df.columns = df.columns.str.replace(' ', '_')
# We converted the column names to snake case
df.columns

Index(['university_name_', 'gre_', 'tuition_fee_(per_semester)',
       'student_faculty_ratio', 'cost_of_living',
       'job_placement_/_alumini_success', 'branch'],
      dtype='object')

In [22]:
df = df.rename(columns = {
        'university_name_': 'university_name',
        'tuition_fee_(per_semester)': 'tuition_per_semester', 
        'gre_': 'gre', 
        'job_placement_/_alumini_success': 'job_placement_alumni_success'})
df.columns

Index(['university_name', 'gre', 'tuition_per_semester',
       'student_faculty_ratio', 'cost_of_living',
       'job_placement_alumni_success', 'branch'],
      dtype='object')

In [23]:
df = df.dropna(how = 'all')
# Dropping any blank rows that we come across

In [24]:
df.isnull().sum()
# Checking whether we have any null values in our columns

university_name                 0
gre                             0
tuition_per_semester            0
student_faculty_ratio           0
cost_of_living                  0
job_placement_alumni_success    0
branch                          0
dtype: int64

In [25]:
# We have cleaned the white spaces present in the column names
# Clean text columns (removes extra spaces in values)

df['university_name'] = df['university_name'].astype(str).str.strip()
df['branch'] = df['branch'].astype(str).str.strip()

In [26]:
# Converting numeri columns
num_cols = ['gre', 'tuition_per_semester', 'student_faculty_ratio', 'cost_of_living', 'job_placement_alumni_success']

for col in num_cols:
    df[col] = pd.to_numeric(df[col], errors = 'coerce')

In [27]:
df.columns

Index(['university_name', 'gre', 'tuition_per_semester',
       'student_faculty_ratio', 'cost_of_living',
       'job_placement_alumni_success', 'branch'],
      dtype='object')

In [28]:
df.isnull().sum()

university_name                  0
gre                              0
tuition_per_semester             2
student_faculty_ratio           38
cost_of_living                   0
job_placement_alumni_success     0
branch                           0
dtype: int64

In [29]:
df = df.dropna(subset =['tuition_per_semester'])

In [40]:
median_ratio = df['student_faculty_ratio'].median()
df['student_faculty_ratio'] = df['student_faculty_ratio'].fillna(median_ratio)

In [48]:
df.isnull().sum()

university_name                 0
gre                             0
tuition_per_semester            0
student_faculty_ratio           0
cost_of_living                  0
job_placement_alumni_success    0
branch                          0
dtype: int64

In [49]:
df.to_csv("DSS_Model_Dataset_Cleaned.csv", index=False)